@media screen and (min-width: 740px) and (max-width: 1200px) {
    .header_navbar .container ul {
        display: flex;
        margin-left: calc(100% - 100%);
    }
    .header_navbar .search {
        position: relative;
        margin-left: 100px;
    }
}

@media screen and (max-width: 739px) {
    .header {
        padding: 0px 0 0px 0;
    }
    .header_info {
        width: 90%;
    }
    .navbar-background-picture {
        margin-bottom: 0px;
    }
    .header_description {
        margin-top: 50px;
    }
    .header_description h2 {
        font-size: 24px;
        font-weight: 300;
    }
    .header_btn button {
        margin-top: 10px;
        padding: 7px 24px;
    }
    .header_btn p {
        margin-top: 10px;
        font-size: 14px;
    }
    .header_navbar {
        margin-top: 400px;
        flex-direction: column;
    }
    .header_navbar .container ul {
        display: none;
    }
    .header_navbar .search {
        position: relative;
        margin: auto;
    }
    .header_navbar .search input {
        padding: 10px 50px 10px 20px;
        width: 100%;
        margin-bottom: 10px;
    }
    
    .icon_menubar .header_checkbox:checked ~ .list_info{
        opacity: 1;
        /* display: block; */
        height: 250px;
        z-index: 10;
    }
    .header_menubar{
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        position: relative;
    }
    .list_info{
        border-radius: 5px;
        position: absolute;
        left: 10%;
        z-index: -2;
        background-color: #fb8a2e;
        width: 80%;
        text-align: center;
        padding: 0;
        height: 0;
        /* display: none; */
        opacity: 0;
        transition: 0.5s all;
    }
    .list_info .item_info{
        width: 100%;
        list-style: none;
        padding: 12px 0 0 0;
    }
    .list_info li:last-child{
        margin-bottom: 12px;
    }
    .list_info .item_info a{
        text-decoration: none;
        font-size: 15px;
        color: rgb(255, 255, 255);
        font-weight: 600;
    }
}