@media screen and (min-width: 740px) and (max-width: 1200px) {
    /* header */
    .header_navbar .container ul {
        display: flex;
        margin-left: -70px;
    }
    .header_navbar .search {
        position: relative;
        margin-left: 0px;
        /* width: 100px; */
    }
    /* about
    .about_content1{
        flex-direction: column;
    }
    .about_content11{
        width: 100%;
    } */
    /* WhatWeOffer */
    .WhatWeOffer_description {
        padding: 30px 30px 30px 30px;
        width: 100%;
    }
    /* WhatIsNew */
    .WhatIsNew_description {
        padding: 30px 30px 30px 30px;
        width: 100%;
        margin-bottom: 30px;
    }
    /* our team */
    .ourTeamContainer {
        width: 90%;
    }
    .ourTeamItemMemberInfo>h3 {
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        text-align: center;
        margin-top: 40%;
    }
    .ourTeamItemMemberInfo>p {
        font-size: 10px;
        font-weight: 300;
        color: #fff;
        text-align: center;
    }
    .ourTeamItemMemberInfo .facebook {
        font-size: 10px;
        padding: 8px 10px;
        border-radius: 20px;
        margin-left: calc(50% - 45px);
    }
    .ourTeamItemMemberInfo .twitter {
        font-size: 10px;
        padding: 8px 8.5px;
        border-radius: 20px;
    }
    .ourTeamItemMemberInfo .wifi {
        font-size: 10px;
        padding: 8px 7.5px;
        border-radius: 20px;
    }
    /* testimonial */
    .testimonialContainer {
        width: 90%;
    }
    .testimonialText h3 {
        font-size: 1.5em;
    }
    .testimonialText {
        margin-right: 50px;
    }
    .testimonialImage {
        width: 100%;
    }
    /* contact us */
    .contactUsContainer {
        width: 80%;
    }
}

@media screen and (max-width: 739px) {
    /* header */
    .header {
        padding: 0px 0 0px 0;
    }
    .header_info {
        width: 90%;
    }
    .navbar-background-picture {
        margin-bottom: 0px;
    }
    .header_description {
        margin-top: 50px;
    }
    .header_description h2 {
        font-size: 24px;
        font-weight: 300;
    }
    .header_btn button {
        margin-top: 10px;
        padding: 7px 24px;
    }
    .header_btn p {
        margin-top: 10px;
        font-size: 14px;
    }
    .header_navbar {
        margin-top: 400px;
        flex-direction: column;
    }
    .header_navbar .container ul {
        display: none;
    }
    .header_navbar .search {
        position: relative;
        margin: auto;
    }
    .header_navbar .search input {
        padding: 10px 50px 10px 20px;
        width: 100%;
        margin-bottom: 10px;
    }
    .icon_menubar .header_checkbox:checked~.list_info {
        opacity: 1;
        /* display: block; */
        height: 250px;
        z-index: 10;
    }
    .header_menubar {
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        position: relative;
    }
    .list_info {
        border-radius: 5px;
        position: absolute;
        left: 10%;
        z-index: -2;
        background-color: #fb8a2e;
        width: 80%;
        text-align: center;
        padding: 0;
        height: 0;
        /* display: none; */
        opacity: 0;
        transition: 0.5s all;
        margin: 0;
    }
    .list_info .item_info {
        width: 100%;
        list-style: none;
        padding: 12px 0 0 0;
    }
    
    .list_info .item_info a {
        text-decoration: none;
        font-size: 15px;
        color: rgb(255, 255, 255);
        font-weight: 600;
    }
    /* about */
    .about .container .about_title {
        padding: 40px 0 0 0;
    }
    .about_content1 {
        flex-direction: column;
        margin-top: 0px;
    }
    .about_content11 {
        width: 100%;
        margin-top: 30px;
    }
    /* WhatWeOffer */
    .WhatWeOffer {
        flex-direction: column;
    }
    .WhatWeOffer_picture {
        height: 250px;
    }
    .WhatWeOffer_description {
        padding: 40px 20px 0px 20px;
    }
    .WhatWeOffer_text h3 {
        font-size: 32px;
    }
    .WhatWeOffer_text h4 {
        font-size: 1em;
        font-weight: 800;
        margin: 2em 0 0 0;
    }
    .WhatWeOffer_text h5 {
        font-size: 1em;
        margin: .5em 0;
    }
    .WhatWeOffer_text p {
        font-size: .9em;
    }
    /* our services */
    .OurServices {
        margin-top: 30px;
    }
    .container>h1 {
        padding-top: 32px;
        color: #fff;
        font-size: 32px;
        font-weight: 400;
    }
    .contentLine1 {
        display: flex;
        flex-direction: column;
    }
    .contentLine2 {
        display: flex;
        flex-direction: column;
    }
    .content1 {
        margin-top: 0px;
    }
    .content11 {
        position: relative;
        width: 100%;
        padding: 90px 16px 1px 16px;
        border-left: none;
        border-bottom: 0.5px solid rgb(180, 118, 2);
    }
    .content12 {
        position: relative;
        width: 100%;
        padding: 90px 16px 1px 16px;
        border-left: none;
        border-top: none;
        border-bottom: 0.5px solid rgb(180, 118, 2);
    }
    .content11 h1, .content12 h1 {
        font-size: 32px;
    }
    .content11 h4, .content12 h4 {
        margin-top: 10px;
        margin-left: calc(-9%);
        font-size: 1.2em;
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
    }
    .content11 p, .content12 p {
        margin-top: 0px;
        color: #d8d8d8;
        font-size: .9em;
    }
    /* WhatIsNew */
    .WhatIsNew {
        flex-direction: column;
    }
    .WhatIsNew_picture {
        height: 250px;
    }
    .WhatIsNew_description {
        padding: 40px 20px 0px 20px;
        margin-bottom: 30px;
    }
    .WhatIsNew_text h3 {
        font-size: 32px;
    }
    .WhatIsNew_text h4 {
        font-size: 1em;
        font-weight: 800;
        margin: 2em 0 0 0;
    }
    .WhatIsNew_text h5 {
        font-size: 1em;
        margin: .5em 0;
    }
    .WhatIsNew_text p {
        font-size: .9em;
    }
    /* our gallery */
    .ourGallery {
        padding-top: 30px;
    }
    .ourGalleryContainer {
        width: 93%;
    }
    .ourGalleryContainer h2 {
        font-size: 2em;
        font-weight: 300;
    }
    .ourGalleryContentLine1 {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .ourGalleryPictureBig {
        width: 100%;
        margin-bottom: 3px;
    }
    .ourGalleryPicture1 {
        width: 100%;
        margin-bottom: 3px;
    }
    .ourGalleryContentLine2 {
        flex-direction: column;
        margin-top: 0px;
    }
    .ourGalleryContentLine3 {
        flex-direction: column;
        margin-top: 0px;
    }
    /* our team */
    .ourTeam {
        width: 100%;
        padding: 40px 0 20px 0;
    }
    .ourTeamContainer {
        width: 85%;
        margin: auto;
    }
    .ourTeamContainer h1 {
        font-size: 2em;
        margin: 0;
        font-weight: 300;
    }
    .ourTeamListMember {
        width: 100%;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
    }
    .ourTeamItemMember {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .ourTeamItemMemberInfo .facebook {
        margin-left: calc(50% - 62px);
    }
    .ourTeamItemMember>h3 {
        font-size: 1.2em;
        margin: 6px 0;
    }
    .ourTeamItemMember>p {
        font-size: 0.8em;
        margin-top: 0px;
    }
    /* testimonial */
    .testimonialContainer {
        width: 90%;
        margin: auto;
    }
    .testimonialContainer>h1 {
        font-size: 2em;
    }
    .testimonialContainer>ul {
        height: 530px;
    }
    .testimonialPage1, .testimonialPage2, .testimonialPage3 {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 60px;
    }
    .testimonialText {
        margin-right: 0px;
    }
    .testimonialText h3 {
        text-align: center;
        font-size: 1.4em;
        margin-top: 20px;
    }
    .testimonialText p {
        text-align: center;
        font-size: .9em;
    }
    .testimonialText h4 {
        text-align: center;
        font-size: 1em;
    }
    .testimonialImage {
        width: 40%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .testimonialImage img {
        width: 100%;
        border-radius: 50%;
    }
    /* contact us */
    .contactUs {
        width: 100%;
        padding: 30px 0 30px 0;
    }
    .contactInfo {
        display: flex;
        margin-top: 0px;
        flex-direction: column;
    }
    .contactUsContainer {
        width: 90%;
        margin: auto;
    }
    .contactUsContainer h1 {
        font-size: 1.8em;
        margin: 0;
    }
    .contactAddress {
        width: 100%;
        margin-top: 20px;
    }
    .contactAddress h3 {
        margin-bottom: 1em;
        margin: 0 0 0 0;
        font-size: 1.2em;
    }
    .contactAddress p {
        font-size: .7em;
        line-height: 1.8em;
    }
    .contactForm h3 {
        margin-bottom: 0em;
    }
    .contactFormLine1 {
        display: flex;
        flex-direction: column;
        margin-top: -30px;
    }
    .contactFormLine2 {
        display: flex;
        margin-top: 0px;
        flex-direction: column;
    }
    .contactFormLine3 {
        margin-top: 60px;
    }
    .contactFormName {
        position: relative;
        width: 100%;
        margin-top: 50px;
        margin-left: 0px;
        margin-right: 0px;
    }
    .contactFormMessage {
        margin-left: 0px;
    }
    .contactForm button {
        padding: .4em 2em;
        margin: 2em 0 0 15px;
    }
    .contactLocation iframe {
        width: 100%;
        height: 200px;
    }
    /* subscribe */
    .subscribeContainer {
        display: flex;
        padding: 15px;
        flex-direction: column;
    }
    .subscribeContainerText {
        width: 80%;
        margin: auto;
    }
    .subscribeContainerText p {
        text-align: center;
        line-height: 20px;
        font-size: 14px;
    }
    .subscribeContainerForm {
        margin-top: 15px;
        text-align: center;
    }
    /* footer */
    .footer p {
        width: 80%;
        font-size: 12px;
        margin: auto;
    }
}