body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
 
}



.header{
  background: url("../images/1.png") no-repeat 0px 0px;
  background-size: cover;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
   
}

.header_info{
  width: 80%;
  position: absolute;
  text-align: center;
  top: 32px;
}
.navbar-background-picture{
  margin-bottom: 124px;
}

.header_description{
  margin-top: 170px;
}

.header_description h2{
  color: aliceblue;
  font-size: 48px;
  text-align: center;
}

.header_btn{
  
}
.header_btn button{
  margin-top: 30px;
  border-radius: 30px;
  background-color: #fb8a2e;
  outline: none;
  border: 2px solid #fb8a2e;
  color: aliceblue;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 46px;
  -webkit-transition: 0.5s all;
}

.header_btn button:hover{
  background-color: rgba(111, 111, 111, 0);
  border: 2px solid #fff;
}

.header_btn p{
  margin-top: 18px;
  color: rgb(202, 198, 198);
  font-size: 14px;
}

.header_menubar{
  display: none;
}
.header_menubar label:hover{
  background-color: #fb8a2e;
  border: 2px solid #fb8a2e;
  cursor: pointer;
}
.icon_menubar label{
  text-align: center;
  padding: 5px 10px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  background-color: rgba(111, 111, 111, 0);
  margin-bottom: 10px;
  border: 2px solid #fff;
}
.header_navbar{
  display: flex;
  
  width: 100%;
  margin-top: 700px;
  border-bottom: 0.5px solid rgb(134, 133, 133);
  margin-bottom: 40px;
} 
.header_navbar .container{
   display: flex;
   justify-content: center;
   width: 100%;
   
}

.header_navbar .container ul{
  display: flex;
  margin-left: calc(100% - 80%);
}
.header_navbar .container ul li{
 list-style: none;
 margin: 0px 20px;
 display: flex;
 padding: 0 0 20px 0;

}

.header_navbar .container ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}
.header_navbar .container ul li a:hover:after{
  cursor: pointer;
  width: 150%;
}
.header_navbar .container ul li a::after{
  content: "";
  position: absolute;
  border-bottom: 3px solid #fff;
  width: 0%;
  top: 59px;
  left: calc(100% - 125%);
  transition: 0.5s all;
}
.header_navbar .search{
   position: relative;
   margin-left: 200px;
}
.header_navbar .search input{
  padding: 12px 50px 12px 20px;
  border-radius: 36px;
  width: 200px;
  border: none;
  outline: none;
  font-size: 15px;
}
.header_navbar .search i{
  position: absolute;
  color: rgb(87, 85, 85);
  top: 14px;
  right: 20px;
  font-size: 16px;
}


/* about */
.about{
  width: 100%;
  background-color:#23a7f1;
  padding: 0 0 48px 0;
  /* height: 300px; */
}

.about .container{
  width: 90%;
}
.about .container .about_title{
   padding-top: 70px;
}
.about .container .about_title h2{
  font-size: 48px;
  color: #fff;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.about_content1{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
.about_content11{
  width: 45%;
}
.about_content11 h4{
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
}
.about_content11 p{
  margin-top: 30px;
  color: #fff;
  font-size: 14px;
}


/* WhatWeOffer */
.WhatWeOffer{
  display: flex;
}

.WhatWeOffer_picture{
  width: 100%;
  background: url("../images/6.jpg") no-repeat 0px 0px;
  background-size: cover;
}



.WhatWeOffer_description{
  padding: 90px 90px 48px 90px;
}

.WhatWeOffer_text h3{
    color: #3a4d60;
    text-align: left;
    text-transform: capitalize;
    font-size: 48px;
    margin: 0;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.WhatWeOffer_text h4{
    color: #3a4d60;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 800;
    margin: 3em 0 0 0;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.WhatWeOffer_text h5{
    color: #3a4d60;
    font-size: 1.2em;
    margin: .5em 0;
    line-height: 1.8em;
}

.WhatWeOffer_text p{
    color: #3a4d60;
    font-size: .9em;
    margin: 0;
    line-height: 1.8em;
}