body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html, body{
    font-size: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
 
}



.header{
  background: url("./images/2.jpg") no-repeat 0px 0px;
  background-size: cover;
  padding: 32px 0;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
   
}

.header_info{
  width: 80%;
  position: absolute;
  text-align: center;
  top: 32px;
}
.navbar-background-picture{
  margin-bottom: 124px;
}

.header_description{
  margin-top: 170px;
}

.header_description h2{
  color: aliceblue;
  font-size: 48px;
  text-align: center;
}

.header_btn{
  
}
.header_btn button{
  margin-top: 30px;
  border-radius: 30px;
  background-color: #fb8a2e;
  outline: none;
  border: 2px solid #fb8a2e;
  color: aliceblue;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 46px;
  -webkit-transition: 0.5s all;
}

.header_btn button:hover{
  background-color: rgba(111, 111, 111, 0);
  border: 2px solid #fff;
}

.header_btn p{
  margin-top: 18px;
  color: rgb(202, 198, 198);
  font-size: 14px;
}

.header_menubar{
  display: none;
}
.header_menubar label:hover{
  background-color: #fb8a2e;
  border: 2px solid #fb8a2e;
  cursor: pointer;
}
.icon_menubar label{
  text-align: center;
  padding: 5px 10px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  background-color: rgba(111, 111, 111, 0);
  margin-bottom: 10px;
  border: 2px solid #fff;
}
.header_navbar{
  display: flex;
  
  width: 100%;
  margin-top: 700px;
  border-bottom: 0.5px solid rgb(134, 133, 133);
  margin-bottom: 40px;
} 
.header_navbar .container{
   display: flex;
   width: 100%;
   
}

.header_navbar .container ul{
  display: flex;
  margin-left: calc(100% - 80%);
}
.header_navbar .container ul li{
 list-style: none;
 margin: 0px 20px;
 display: flex;
 padding: 0 0 20px 0;

}

.header_navbar .container ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}
.header_navbar .container ul li a:hover:after{
  cursor: pointer;
  width: 150%;
}
.header_navbar .container ul li a::after{
  content: "";
  position: absolute;
  border-bottom: 3px solid #fff;
  width: 0%;
  top: 59px;
  left: calc(100% - 125%);
  transition: 0.5s all;
}
.header_navbar .search{
   position: relative;
   margin-left: 200px;
}
.header_navbar .search input{
  padding: 12px 50px 12px 20px;
  border-radius: 36px;
  width: 200px;
  border: none;
  outline: none;
  font-size: 15px;
}
.header_navbar .search i{
  position: absolute;
  color: rgb(87, 85, 85);
  top: 14px;
  right: 20px;
  font-size: 16px;
}