body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
html{
  scroll-behavior: smooth;
}
html, body {
  -webkit-overflow-scrolling: touch;
  font-size: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

body {}

body>.home{
  position: fixed;
  width: 20px;
  height: 20px;
  z-index: 20;
  bottom: 50px;
  right: 50px;
}
.header {
  background: url("../images/1.png") no-repeat 0px 0px;
  background-size: cover;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.header_info {
  width: 80%;
  position: absolute;
  text-align: center;
  top: 32px;
}

.navbar-background-picture {
  margin-bottom: 124px;
}

.header_description {
  margin-top: 170px;
}

.header_description h2 {
  color: aliceblue;
  font-size: 48px;
  text-align: center;
}

.header_btn {}

.header_btn button {
  margin-top: 30px;
  border-radius: 30px;
  background-color: #fb8a2e;
  outline: none;
  border: 2px solid #fb8a2e;
  color: aliceblue;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 46px;
  -webkit-transition: 0.5s all;
}

.header_btn button:hover {
  background-color: rgba(111, 111, 111, 0);
  border: 2px solid #fff;
}

.header_btn p {
  margin-top: 18px;
  color: rgb(202, 198, 198);
  font-size: 14px;
}

.header_menubar {
  display: none;
}

.header_menubar label:hover {
  background-color: #fb8a2e;
  border: 2px solid #fb8a2e;
  cursor: pointer;
}

.icon_menubar label {
  text-align: center;
  padding: 5px 10px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  background-color: rgba(111, 111, 111, 0);
  margin-bottom: 10px;
  border: 2px solid #fff;
}

.header_navbar {
  display: flex;
  width: 100%;
  margin-top: 700px;
  border-bottom: 0.5px solid rgb(134, 133, 133);
  margin-bottom: 40px;
}

.header_navbar .container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header_navbar .container ul {
  display: flex;
  margin-left: calc(100% - 80%);
}

.header_navbar .container ul li {
  list-style: none;
  margin: 0px 20px;
  display: flex;
  padding: 0 0 20px 0;
}

.header_navbar .container ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

.header_navbar .container ul li a:hover:after {
  cursor: pointer;
  width: 150%;
}

.header_navbar .container ul li a::after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #fff;
  width: 0%;
  top: 59px;
  left: calc(100% - 125%);
  transition: 0.5s all;
}

.header_navbar .search {
  position: relative;
  margin-left: 200px;
}

.header_navbar .search input {
  padding: 12px 50px 12px 20px;
  border-radius: 36px;
  width: 200px;
  border: none;
  outline: none;
  font-size: 15px;
}

.header_navbar .search i {
  position: absolute;
  color: rgb(87, 85, 85);
  top: 14px;
  right: 20px;
  font-size: 16px;
}

/* about */

.about {
  width: 100%;
  background-color: #23a7f1;
  padding: 0 0 48px 0;
  /* height: 300px; */
}

.about .container {
  width: 90%;
}

.about .container .about_title {
  padding-top: 70px;
}

.about .container .about_title h2 {
  font-size: 48px;
  color: #fff;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.about_content1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.about_content11 {
  width: 45%;
}

.about_content11 h4 {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
}

.about_content11 p {
  margin-top: 30px;
  color: #fff;
  font-size: 14px;
}

/* WhatWeOffer */

.WhatWeOffer {
  display: flex;
}

.WhatWeOffer_picture {
  width: 100%;
  background: url("../images/6.jpg") no-repeat 0px 0px;
  background-size: cover;
}

.WhatWeOffer_description {
  padding: 90px 90px 48px 90px;
}

.WhatWeOffer_text h3 {
  color: #3a4d60;
  text-align: left;
  text-transform: capitalize;
  font-size: 48px;
  margin: 0;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.WhatWeOffer_text h4 {
  color: #3a4d60;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 800;
  margin: 3em 0 0 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.WhatWeOffer_text h5 {
  color: #3a4d60;
  font-size: 1.2em;
  margin: .5em 0;
  line-height: 1.8em;
}

.WhatWeOffer_text p {
  color: #3a4d60;
  font-size: .9em;
  margin: 0;
  line-height: 1.8em;
}

/* OurServices */

.OurServices {
  background: url("../images/3.jpg") no-repeat center 0px;
  background-size: cover;
  /* height: 500px; */
}

.container {
  width: 80%;
}

.container h1 {
  text-align: center;
  padding-top: 48px;
  color: #fff;
  font-size: 48px;
  font-weight: 400;
}

.content1 {
  margin-top: 64px;
}

.content1:hover .content11 h1 {
  color: #23a7f1;
  top: -40px;
}

.content2:hover .content12 h1 {
  color: #23a7f1;
  top: -40px;
}

.OurServices .contentLine1 {
  display: flex;
}

.contentLine1 {
  display: flex;
}

.contentLine2 {
  display: flex;
}

.content11 {
  position: relative;
  width: 100%;
  padding: 90px 16px 1px 16px;
  border-left: 0.5px solid rgb(180, 118, 2);
}

.content12 {
  position: relative;
  width: 100%;
  padding: 90px 16px 1px 16px;
  border-top: 0.5px solid rgb(180, 118, 2);
  border-left: 0.5px solid rgb(180, 118, 2);
}

.first {
  border-left: none;
}

.content11 h1, .content12 h1 {
  top: 0px;
  position: absolute;
  cursor: pointer;
  margin-left: calc(50% - 42px);
  color: #fff;
  font-size: 48px;
  transition: 0.5s all;
}

.content11 h4, .content12 h4 {
  margin-top: 20px;
  text-align: center;
  font-size: 1.5em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

.content11 p, .content12 p {
  margin-top: 15px;
  text-align: center;
  color: #d8d8d8;
  font-size: .9em;
  line-height: 1.8em;
}

/* what is new */

.WhatIsNew {
  display: flex;
}

.WhatIsNew_picture {
  width: 100%;
  background: url("../images/7.jpg") no-repeat 0px 0px;
  background-size: cover;
}

.WhatIsNew_description {
  padding: 90px 90px 48px 90px;
}

.WhatIsNew_text h3 {
  color: #3a4d60;
  text-align: left;
  text-transform: capitalize;
  font-size: 48px;
  margin: 0;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.WhatIsNew_text h4 {
  color: #3a4d60;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 800;
  margin: 3em 0 0 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.WhatIsNew_text h5 {
  color: #3a4d60;
  font-size: 1.2em;
  margin: .5em 0;
  line-height: 1.8em;
}

.WhatIsNew_text p {
  color: #3a4d60;
  font-size: .9em;
  margin: 0;
  line-height: 1.8em;
}

/* our gallery */

.ourGallery {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #23a7f1;
}

.ourGalleryContainer {
  width: 85%;
  text-align: center;
  margin: auto;
}

.ourGalleryContainer h2 {
  color: #ffffff;
  font-size: 3em;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.ourGalleryContentLine1 {
  margin-top: 60px;
  display: flex;
}

.ourGalleryPictureBig {
  width: 40%;
  margin-right: 3px;
  margin-top: 1px;
  background-color: #000000;
}

.ourGalleryPictureBig img:hover {
  opacity: 0.6;
}

.ourGalleryPicture1 img:hover {
  opacity: 0.6;
}

.ourGalleryPictureBig img {
  width: 100%;
  border: 2px solid #fff;
  opacity: 1;
  transition: 0.5s all;
}

.ourGalleryPictureBig img:hover, .ourGalleryPicture1 img:hover {
  cursor: pointer;
}

.ourGalleryPicture1 {
  width: 20%;
  margin-right: 3px;
  background-color: #000000;
  margin-top: 3px;
}

.ourGalleryPicture1 img {
  width: 100%;
  border: 2px solid #fff;
  opacity: 1;
  transition: 0.5s all;
}

.ourGalleryContentLine2 {
  margin-top: 3px;
  display: flex;
}

.ourGalleryContentLine3 {
  margin-top: 3px;
  display: flex;
}

/* ourTeam */

.ourTeam {
  width: 100%;
  padding: 60px 0 30px 0;
}

.ourTeamContainer {
  width: 60%;
  margin: auto;
}

.ourTeamContainer h1 {
  text-align: center;
  color: #3a4d60;
  font-size: 3em;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.ourTeamListMember {
  width: 100%;
  margin-top: 48px;
  display: flex;
}

.ourTeamItemMember {
  width: 25%;
  margin-left: 20px;
  margin-right: 20px;
}

.ourTeamMemberPicture {
  position: relative;
}

.ourTeamItemMemberInfo {
  position: absolute;
  top: 0;
  background-color: rgba(248, 127, 71, 0.8);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s all;
}

.ourTeamItemMemberInfo:hover {
  cursor: pointer;
  opacity: 1;
}

.ourTeamItemMemberInfo>h3 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin-top: 40%;
}

.ourTeamItemMemberInfo>p {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

.ourTeamItemMemberInfo .facebook {
  font-size: 16px;
  background-color: #fff;
  padding: 10px 14px;
  border-radius: 20px;
  margin-left: calc(20%);
}

.ourTeamItemMemberInfo .twitter {
  font-size: 16px;
  background-color: #fff;
  padding: 10px 11px;
  border-radius: 20px;
  /* margin-left: calc(50%); */
}

.ourTeamItemMemberInfo .wifi {
  font-size: 16px;
  background-color: #fff;
  padding: 10px 10px;
  border-radius: 20px;
  /* margin-left: calc(50%); */
}

.ourTeamItemMemberInfo .facebook:hover {
  background: #3b5998;
  color: #FFFFFF;
}

.ourTeamItemMemberInfo .twitter:hover {
  background: #1da1f2;
  color: #FFFFFF;
}

.ourTeamItemMemberInfo .wifi:hover {
  background: #f26522;
  color: #FFFFFF;
}

.ourTeamItemMember img {
  width: 100%;
  border-radius: 3px;
}

.ourTeamItemMember>h3 {
  text-align: center;
  font-size: 1.5em;
  color: #3a4d60;
  margin: 12px 0;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
}

.ourTeamItemMember>p {
  text-align: center;
  font-size: 1em;
  color: #999999;
  margin-top: -4px;
}

/* testimonial */

.testimonial {
  width: 100%;
  background: url("../images/3.jpg") no-repeat center 0px;
  background-size: cover;
  padding: 48px 0 30px 0;
}

.testimonialContainer {
  width: 60%;
  margin: auto;
}

.testimonialContainer>ul {
  padding: 0;
  position: relative;
  height: 350px;
}

.testimonialContainer>h1 {
  color: #ffffff;
  font-size: 3em;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

.testimonialPage1, .testimonialPage2, .testimonialPage3 {
  display: flex;
  margin-top: 60px;
  position: absolute;
}

.testimonialText {
  margin-right: 120px;
}

.testimonialText h3 {
  color: #ffffff;
  font-size: 1.7em;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.testimonialText p {
  color: #FFFFFF;
  font-size: .9em;
  margin: 2em 0 0 0;
  line-height: 1.8em;
}

.testimonialText h4 {
  color: #FFFFFF;
  font-size: 1em;
  margin: 2em 0 0 0;
  text-transform: uppercase;
}

.testimonialImage {
  width: 40%;
}

.testimonialImage img {
  width: 100%;
  border-radius: 50%;
}

/* contact Us */

.contactUs {
  width: 100%;
  padding: 64px 0 30px 0;
  
}

.contactUsContainer {
  width: 60%;
  margin: auto;
}

.contactUsContainer h1 {
  text-align: center;
  color: #3a4d60;
  font-size: 3em;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

.contactInfo {
  display: flex;
  margin-top: 48px;
}

.contactAddress {
  width: 33%;
}

.contactAddress h3 {
  margin-bottom: 2em;
  color: #3a4d60;
  margin: 0 0 16px 0;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

.contactAddress p {
  margin: 0 0 0 0;
  color: #999999;
  font-size: .9em;
  line-height: 1.5em;
}

.contactForm {
  margin-top: 30px;
}

.contactForm h3 {
  margin-bottom: 2em;
  color: #3a4d60;
  margin: 0 0 1em 0;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif
}

.contactFormLine1 {
  display: flex;
}

.contactFormLine2 {
  display: flex;
  margin-top: 100px;
}

.contactFormName {
  position: relative;
  width: 50%;
  margin-left: 15px;
  margin-right: 15px;
}

.contactFormName label {
  position: absolute;
  font-size: 15px;
  color: #a3a3a3;
  top: 5px;
  left: 10px;
  transition: 0.2s all;
}

.contactFormName input {
  width: 100%;
  position: absolute;
  outline: none;
  border: none;
  border-bottom: 0.2px solid #d4d3d3;
  padding: 10px 0 0 10px;
}

.contactFormName input:focus {
  border-bottom: 2px solid #f26522;
}

.contactFormName input:focus~label {
  top: -10px;
  color: #f26522;
}

.contactFormLine3 {
  margin-top: 100px;
}

.contactFormMessage {
  position: relative;
  margin-left: 15px;
}

.contactFormMessage textarea {
  min-height: 150px;
  resize: none;
  font-size: .9em;
  color: #999999;
  padding: 0.5em 1em;
  border: 0;
  width: 100%;
  border-bottom: 1px solid #dcdcdc;
  background: none;
  -webkit-appearance: none;
  outline: none;
}

.contactFormMessage label {
  position: absolute;
  font-size: 15px;
  color: #a3a3a3;
  top: 5px;
  left: 10px;
  transition: 0.2s all;
}

.contactFormMessage textarea:focus {
  border-bottom: 2px solid #f26522;
}

.contactFormMessage textarea:focus~label {
  top: -15px;
  color: #f26522;
}

.contactForm button{
    outline: none;
    color: #FFFFFF;
    padding: .8em 4em;
    font-size: .9em;
    margin: 2em 0 0 15px;
    -webkit-appearance: none;
    background: #fb8a2e;
    border: 2px solid #fb8a2e;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    border-radius: 26px;
    -webkit-border-radius: 26px
}
.contactForm button:hover{
  border: 2px solid #000;
  background-color: rgba(255, 255, 255, 1);
  color: #000;
}

.contactLocation{
  margin-top: 30px;
}
.contactLocation h3{
  margin-bottom: 2em;
    color: #3a4d60;
    margin: 0 0 1em 0;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;

}
.contactLocation iframe{
  width: 100%;
  height: 400px;
}

/* subscribe */
.subscribe{
width: 100%;
background-color: #191d20;
}
.subscribeContainer{
display: flex;
padding: 15px;
justify-content: space-around;
}
.subscribeContainerText p{
color: #fff;
margin: auto;
line-height: 32px;
}
.subscribeContainerForm{

}
.subscribeContainerForm input{
padding: 5px 10px;
outline: none;
font-size: 14px;
border: none;
}
.subscribeContainerForm button{
padding: 4px 11px 6px 9px;
outline: none;
border: none;
background-color: #f26522;
color: #fff;
transition: 0.5s all;
}
.subscribeContainerForm button:hover{
  cursor: pointer;
  background-color: #2241f2;
}


/* footer */

.footer{
  width: 100%;
  background-color: #0f1215;
  color: #fff;
  text-align: center;
  padding: 40px 0 20px 0;
}

.footer h3{
  position: relative;
  padding: 0 0 30px 0;
  color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 1em 0;
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
}
.footer h3::before{
  position: absolute;
  content: "";
  top: 20px;
  left: calc(50% - 30px);
  width:60px;
  height: 20px;
  
  border-bottom: 1px solid #fff;
}
.footerSoical{
  margin-bottom: 30px;
}
.footerSoical i{
  margin-right: 5px;
  margin-left: 0px;
  font-size: 15px;
  padding: 5px 5px;
}
.footerSoical i:hover{
  cursor: pointer;
  transform: scale(1.5);
}
.footerSoical i:first-child:hover{
  color: #2241f2;
}
.footerSoical i:nth-child(2):hover{
  color: #4590e6;
}
.footerSoical i:nth-child(3):hover{
  color: #b95149;
}
.footerSoical i:last-child:hover{
  color: #f50909;
}
.footer p{
  font-size: 14px;
}